<!DOCTYPE html>
<html>
  <head>
    <title> Your Diagnosis Explanation </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calculation.css') }}">
    <meta name = "viewport"
          content = "width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Your Diagnosis Explanation</h1>
    <p id = "overview"> We asked you nine questions, each relating to a possible symptom of coronavirus. The more of these symptoms that you have, the higher the chance that you have coronavirus.</p><br><br>

    <p id = "detail"> If you answer yes, your score goes up 5 points. If you answer no, your score stays the same. Each person's score starts at 0, and depending on what you answer, goes up or stays the same accordingly. Your maximum score can be 45, which is extremely concerning. Your lowest score can be 0, which means you do not have to worry at all. If you have a score lower than 20, you should be fine, but you still need to be aware and careful. If you have a score higher than 20, you should take precaustions as you may the virus. If you have a score higher than 30, we tell you to immediately visit a doctor. Depending on where you live, we provide you with options to testing centers. Here is a link to them:</p><br><br>

    <br><a href = "{{ url_for('.index') }}">Head back to our home page</a>


  </body>
</html>