<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Fake News</title>
    <link href="{{ url_for('static', filename='css/fakenews.css') }}" rel="stylesheet" type="text/css" />
    
   
  </head>
  <body>
    <h1><center> Covid Fake News </center></h1><br><br>
    <br><p>In the rise of the Covid-19 pandemic, many people forget one of the main reasons this pandemic occurred: Fake News. Many thought Covid was a hoax, and instead of taking proper precautions, they went outside like it was a normal day. Through this, cases spiked, many innocent lives were lost. To keep this pandemic in control, please watch this video for your own safety and knowledge:</p>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/wT2m3kljcSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </body>
</html>