<!DOCTYPE html>
<html>
  <head>
    <title>Coronavirus Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tracker.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>

    <h1>Coronavirus-19 Tracker</h1>
    <p>This tracker will show current total cases of each county in your state.</p>
    <div id="tracker-map"></div>


    <!-- Load d3.js and the geo projection plugin -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>

    <!-- Load Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>

    <script src="{{ url_for('static', filename='js/tracker.js') }}"></script>
  </body>
</html>
