body {
  background-color:azure;
   background-image: linear-gradient(#ad3723, peru);
  background-size: contain;
  background-attachment: fixed;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 1000;
  text-align: center;
}