body {
background-color: burlywood;

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
input[type="submit"] {
  background-color: red;
  margin-top: 20px;
  padding: 15px;
  border-radius: 70px;
  width: 300px;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 4px;
  border: 0ch;
  font-size: 35px;

}
