<!DOCTYPE html>
<html>
  <head>
    <title>FAQ</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/FAQ.css') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1><b>FAQ Common Questions: Via the CDC</b></h1>
    <br />
    <h2><b>Spread</b></h2>
    <br />
    <p>How does the virus spread?</p>
    <br />
    <p>
      The virus that causes COVID-19 is thought to spread mainly from person to
      person, mainly through respiratory droplets produced when an infected
      person coughs, sneezes, or talks. These droplets can land in the mouths or
      noses of people who are nearby or possibly be inhaled into the lungs.
      Spread is more likely when people are in close contact with one another
      (within about 6 feet). COVID-19 seems to be spreading easily and
      sustainably in the community (“community spread”) in many affected
      geographic areas. Community spread means people have been infected with
      the virus in an area, including some who are not sure how or where they
      became infected.
    </p>
    <br /><br />

    <p>Will warm weather stop the outbreak of Covid-19?</p>
    <br />
    <p>
      It is not yet known whether weather and temperature affect the spread of
      COVID-19. Some other viruses, like those that cause the common cold and
      flu, spread more during cold weather months but that does not mean it is
      impossible to become sick with these viruses during other months. There is
      much more to learn about the transmissibility, severity, and other
      features associated with COVID-19 and investigations are ongoing.
    </p>
    <br /><br />

    <p>
      Can the virus that causes Covid-19 be spread through food, including
      restaurant takeout, refrigerated or frozen packaged food?
    </p>
    <br />
    <p>
      Coronaviruses are generally thought to be spread from person to person
      through respiratory droplets. Currently, there is no evidence to support
      transmission of COVID-19 associated with food. Before preparing or eating
      food it is important to always wash your hands with soap and water for at
      least 20 seconds for general food safety. Throughout the day use a tissue
      to cover your coughing or sneezing, and wash your hands after blowing your
      nose, coughing or sneezing, or going to the bathroom.
    </p>
    <br /><br />

    <h2><b>Protection and Prevention</b></h2>
    <br />
    <p>
      Does CDC recommend the use of facemask or face coverings to prevent
      Covid-19?
    </p>
    <br />
    <p>
      Wear cloth face coverings in public settings when around people not living
      in your household and particularly where other social distancing measures
      are difficult to maintain, such as grocery stores, pharmacies, and gas
      stations. Cloth face coverings may slow the spread of the virus and help
      people who may have the virus and do not know it from transmitting it to
      others. COVID-19 can be spread by people who do not have symptoms and do
      not know that they are infected. That’s why it’s important for everyone to
      practice social distancing (staying at least 6 feet away from other
      people) and wear cloth face coverings in public settings. Cloth face
      coverings provide an extra layer to help prevent the respiratory droplets
      from traveling in the air and onto other people. The cloth face coverings
      recommended are not surgical masks or N-95 respirators. Those are critical
      supplies that must continue to be reserved for healthcare workers and
      other medical first responders, as recommended by current CDC guidance.
    </p>
    <br />

    <p>
      Is it safe to get care for my other medical conditions during this time?
    </p>
    <br />
    <p>
      It is important to continue taking care of your health and wellness.
      Continue your medications, and do not change your treatment plan without
      talking to your healthcare provider. Continue to manage your disease the
      way your healthcare provider has told you. Have at least a 2-week supply
      of all prescription and non-prescription medications. Talk to your
      healthcare provider about whether your vaccinations are up-to-date. Call
      your healthcare provider if you have any concerns about your medical
      conditions if you get sick or to find out about different ways you can
      connect with your healthcare provider for chronic disease management or
      other conditions. Do not delay getting emergency care for your health
      problems or any health condition that requires immediate attention. If you
      need emergency help, call 911. Emergency departments have infection
      prevention plans to protect you from getting COVID-19 if you need care for
      your medical condition. Continue to practice everyday prevention. Wash
      your hands often, avoid close contact, wear a cloth face covering, cover
      coughs and sneezes, and clean and disinfect frequently touched surfaces
      often.
    </p>

    <a href="{{ url_for('.index') }}">Head back to our home page</a>
  </body>
</html>
